<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.osx.game</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for games.</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaApplicationNativeBase</string>
	</array>
	<key>Project</key>
    <dict>
        <key>Configurations</key>
        <dict>
            <key>Debug</key>
            <dict>
                <key>DEBUG_INFORMATION_FORMAT</key>
                <string>dwarf-with-dsym</string>
            </dict>
            <key>Release</key>
            <dict>
                <key>DEBUG_INFORMATION_FORMAT</key>
                <string>dwarf-with-dsym</string>
            </dict>
        </dict>
    </dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>gameType</string>
			<key>Name</key>
			<string>Game Technology:</string>
			<key>Description</key>
			<string>The type of game technology to use to create your game</string>
			<key>Values</key>
			<array>
				<string>SceneKit</string>
				<string>SpriteKit</string>
				<string>Metal</string>
			</array>
			<key>Default</key>
			<string>SceneKit</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>SceneKit</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/MainMenu.xib</string>
							<string>art.scnassets</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/MainMenu.xib</key>
							<dict>
								<key>Path</key>
								<string>SceneKit_MainMenu.xib</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Assets.xcassets</key>
							<dict>
								<key>Path</key>
								<string>SceneKit_Images.xcassets</string>
								<key>SortOrder</key>
								<integer>100</integer>
							</dict>
							<key>art.scnassets</key>
							<dict>
								<key>Path</key>
								<string>art.scnassets</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.h</string>
							<string>AppDelegate.m</string>
							<string>GameView.h</string>
							<string>GameView.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameView.h</key>
							<dict>
								<key>Path</key>
								<string>GameView.h</string>
							</dict>
							<key>GameView.m</key>
							<dict>
								<key>Path</key>
								<string>GameView.m</string>
							</dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>GameViewController.m</string>
							</dict>
							<key>AppDelegate.h</key>
							<dict>
								<key>Path</key>
								<string>SceneKit_AppDelegate.h</string>
							</dict>
							<key>AppDelegate.m</key>
							<dict>
								<key>Path</key>
								<string>SceneKit_AppDelegate.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift</string>
							<string>GameView.swift</string>
							<string>GameViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameView.swift</key>
							<dict>
								<key>Path</key>
								<string>GameView.swift</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>GameViewController.swift</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>SceneKit_AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>SpriteKit</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/MainMenu.xib</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/MainMenu.xib</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit_MainMenu.xib</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Assets.xcassets</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit_Images.xcassets</string>
								<key>SortOrder</key>
								<integer>100</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.h</string>
							<string>AppDelegate.m</string>
							<string>GameScene.h</string>
							<string>GameScene.m</string>
							<string>GameScene.sks</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.h</key>
							<dict>
								<key>Path</key>
								<string>GameScene.h</string>
							</dict>
							<key>GameScene.m</key>
							<dict>
								<key>Path</key>
								<string>GameScene.m</string>
							</dict>
							<key>GameScene.sks</key>
							<dict>
								<key>Path</key>
								<string>GameScene.sks</string>
							</dict>
							<key>AppDelegate.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit_AppDelegate.h</string>
							</dict>
							<key>AppDelegate.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit_AppDelegate.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift</string>
							<string>GameScene.swift</string>
							<string>GameScene.sks</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.swift</key>
							<dict>
								<key>Path</key>
								<string>GameScene.swift</string>
							</dict>
							<key>GameScene.sks</key>
							<dict>
								<key>Path</key>
								<string>GameScene.sks</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit_AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Metal</key>
				<array>
					<dict>
                        <key>Project</key>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>MACOSX_DEPLOYMENT_TARGET</key>
                                <string>10.11</string>
                            </dict>
                        </dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/MainMenu.xib</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/MainMenu.xib</key>
							<dict>
								<key>Path</key>
								<string>Metal_MainMenu.xib</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.h</string>
							<string>AppDelegate.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
							<string>Shaders.metal</string>
							<string>SharedStructures.h</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>SharedStructures.h</key>
							<dict>
								<key>Path</key>
								<string>Metal_SharedStructures.h</string>
							</dict>
							<key>Shaders.metal</key>
							<dict>
								<key>Path</key>
								<string>Metal_Shaders.metal</string>
							</dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>Metal_GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>Metal_GameViewController.m</string>
							</dict>
							<key>AppDelegate.h</key>
							<dict>
								<key>Path</key>
								<string>Metal_AppDelegate.h</string>
							</dict>
							<key>AppDelegate.m</key>
							<dict>
								<key>Path</key>
								<string>Metal_AppDelegate.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift</string>
							<string>GameViewController.swift</string>
							<string>Shaders.metal</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Shaders.metal</key>
							<dict>
								<key>Path</key>
								<string>Metal_Swift_Shaders.metal</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal_GameViewController.swift</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal_AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
