<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.audiounitextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an Audio Unit application extension.</string>
    <key>SortOrder</key>
    <integer>3</integer>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.audioUnitExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>audioUnitType</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Audio Unit Type:</string>
            <key>Description</key>
            <string>The type of the audio unit.</string>
            <key>Type</key>
            <string>popup</string>
            <key>Default</key>
            <string>Instrument</string>
            <key>Values</key>
            <array>
                <string>Instrument</string>
                <string>Generator</string>
                <string>Effect</string>
                <string>Music Effect</string>
            </array>
            <key>Variables</key>
            <dict>
                <key>Instrument</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>aumu</string>
                    <key>audioUnitTypeTags</key>
                    <string>&lt;string&gt;Synthesizer&lt;/string&gt;
</string>
                </dict>
                <key>Generator</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>augn</string>
                    <key>audioUnitTypeTags</key>
                    <string></string>
                </dict>
                <key>Effect</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>aufx</string>
                    <key>audioUnitTypeTags</key>
                    <string>&lt;string&gt;Effects&lt;/string&gt;
</string>
                </dict>
                <key>Music Effect</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>aumf</string>
                    <key>audioUnitTypeTags</key>
                    <string>&lt;string&gt;Effects&lt;/string&gt;
                    &lt;string&gt;MIDI&lt;/string&gt;
</string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>audioUnitSubtypeCode</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Subtype Code:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Description</key>
            <string>A four character code that identifies the subtype of the audio unit</string>
            <key>Placeholder</key>
            <string>demo (must be exactly 4 characters)</string>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>audioUnitManufacturerCode</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Manufacturer Code:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Description</key>
            <string>A four character code that identifies the manufacturer of the audio unit</string>
            <key>Placeholder</key>
            <string>DEMO (must be exactly 4 characters)</string>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AudioUnitViewController.h</string>
                        <string>AudioUnitViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AudioUnitViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AudioUnitViewController.h</string>
                        </dict>
                        <key>AudioUnitViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>AudioUnitViewController.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Targets</key>
                    <array>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>SWIFT_OBJC_BRIDGING_HEADER</key>
                                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                            </dict>
                        </dict>
                    </array>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                        <string>AudioUnitViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AudioUnitViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AudioUnitViewController.swift</string>
                        </dict>
                        <key>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</key>
                        <dict>
                            <key>Path</key>
                            <string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                            <key>SortOrder</key>
                            <integer>200</integer>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>MyAudioUnit.h</string>
        <string>MyAudioUnit.m</string>
        <string>Info.plist:NSExtension</string>
        <string>Base.lproj/AudioUnitViewController.xib</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>MyAudioUnit.h</key>
        <dict>
            <key>Path</key>
            <string>MyAudioUnit.h</string>
        </dict>
        <key>MyAudioUnit.m</key>
        <dict>
            <key>Path</key>
            <string>MyAudioUnit.m</string>
        </dict>
        <key>Info.plist:NSExtension</key>
        <string>&lt;key&gt;NSExtension&lt;/key&gt;
    &lt;dict&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;AudioComponents&lt;/key&gt;
        &lt;array&gt;
            &lt;dict&gt;
                &lt;key&gt;description&lt;/key&gt;
                &lt;string&gt;___PACKAGENAME___&lt;/string&gt;
                &lt;key&gt;factoryFunction&lt;/key&gt;
                &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___AudioUnitViewController&lt;/string&gt;
                &lt;key&gt;manufacturer&lt;/key&gt;
                &lt;string&gt;___VARIABLE_audioUnitManufacturerCode___&lt;/string&gt;
                &lt;key&gt;name&lt;/key&gt;
                &lt;string&gt;___VARIABLE_audioUnitManufacturerCode___: ___PACKAGENAME___&lt;/string&gt;
                &lt;key&gt;sandboxSafe&lt;/key&gt;
                &lt;true/&gt;
                &lt;key&gt;subtype&lt;/key&gt;
                &lt;string&gt;___VARIABLE_audioUnitSubtypeCode___&lt;/string&gt;
                &lt;key&gt;tags&lt;/key&gt;
                &lt;array&gt;
                    ___VARIABLE_audioUnitTypeTags___
                &lt;/array&gt;
                &lt;key&gt;type&lt;/key&gt;
                &lt;string&gt;___VARIABLE_audioUnitTypeCode___&lt;/string&gt;
                &lt;key&gt;version&lt;/key&gt;
                &lt;integer&gt;67072&lt;/integer&gt;
            &lt;/dict&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.AudioUnit-UI&lt;/string&gt;
    &lt;key&gt;NSExtensionPrincipalClass&lt;/key&gt;
    &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___AudioUnitViewController&lt;/string&gt;
&lt;/dict&gt;
</string>
        <key>Base.lproj/AudioUnitViewController.xib</key>
        <dict>
            <key>Path</key>
            <string>AudioUnitViewController.xib</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
