<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.findersyncextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Finder Sync application extension.</string>
    <key>SortOrder</key>
    <integer>3</integer>
    <key>Targets</key>
    <array>
        <dict>
 			<key>TargetIdentifier</key>
			<string>com.apple.dt.serviceWithUIExtensionService</string>
           <key>SharedSettings</key>
            <dict>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>FinderSync.h</string>
                        <string>FinderSync.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>FinderSync.h</key>
                        <dict>
                            <key>Path</key>
                            <string>FinderSync.h</string>
                        </dict>
                        <key>FinderSync.m</key>
                        <dict>
                            <key>Path</key>
                            <string>FinderSync.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>FinderSync.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>FinderSync.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>FinderSync.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionPrincipalClass&lt;/key&gt;
    &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___FinderSync&lt;/string&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict/&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.FinderSync&lt;/string&gt;
&lt;/dict&gt;
&lt;key&gt;LSUIElement&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;NSApplication&lt;/string&gt;
</string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
