<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.shareextensionosx</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.osxAppExtensionBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a Share application extension.</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.shareExtension</string>
			<key>SharedSettings</key>
			<dict>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>socialSharing</string>
			<key>NotPersisted</key>
			<true/>
			<key>Name</key>
            <string>User Interface:</string>
			<key>Description</key>
			<string>With the Compose Service View option the extension&apos;s primary view controller will be a subclass of SLComposeServiceViewController. With the Custom option it will be a subclass of NSViewController.</string>
			<key>Type</key>
			<string>popup</string>
            <key>Values</key>
            <array>
                <string>Compose Service View</string>
                <string>Custom</string>
            </array>
			<key>Default</key>
			<string>Custom</string>
			<key>Units</key>
			<dict>
				<key>Custom</key>
				<array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ShareViewController.h</string>
                            <string>ShareViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ShareViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>GenericViewController.h</string>
                            </dict>
                            <key>ShareViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>GenericViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ShareViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ShareViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>GenericViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/ShareViewController.xib</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/ShareViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>GenericViewController.xib</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Compose Service View</key>
				<array>
					<dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
						<key>Nodes</key>
						<array>
							<string>ShareViewController.h</string>
							<string>ShareViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>ShareViewController.h</key>
							<dict>
								<key>Path</key>
								<string>ComposeViewController.h</string>
							</dict>
							<key>ShareViewController.m</key>
							<dict>
								<key>Path</key>
								<string>ComposeViewController.m</string>
							</dict>
						</dict>
					</dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ShareViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ShareViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ComposeViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:NSExtension</string>
		<string>icon.icns</string>
		<string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:NSExtension</key>
		<string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionPrincipalClass&lt;/key&gt;
    &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___ShareViewController&lt;/string&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.share-services&lt;/string&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;NSExtensionActivationRule&lt;/key&gt;
        &lt;string&gt;TRUEPREDICATE&lt;/string&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;icon&lt;/string&gt;
</string>
		<key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
			<key>Group</key>
			<string>Supporting Files</string>
            <key>TargetIdentifiers</key>
            <array/>
		</dict>
		<key>icon.icns</key>
		<dict>
			<key>Path</key>
			<string>icon.icns</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
	</dict>
</dict>
</plist>
